/Zhaoxi.webapi/bin
/Zhaoxi.webapi/obj
/Zhaoxi.BBS.UI/bin
/Zhaoxi.BBS.UI/obj
/Zhaoxi.BBS.Service/obj
/Zhaoxi.BBS.Service/bin
/Zhaoxi.BBS.Model/obj
/Zhaoxi.BBS.Model/bin
/Zhaoxi.BBS.Interface/obj
/Zhaoxi.BBS.Interface/bin
/Zhaoxi.BBS.Dynamic/obj
/Zhaoxi.BBS.Dynamic/bin
/Zhaoxi.BBS.DTO/obj
/Zhaoxi.BBS.DTO/bin
/Zhaoxi.BBS.Database/obj
/Zhaoxi.BBS.Database/bin
/Zhaoxi.AglieFramework.Core/obj
/Zhaoxi.AglieFramework.Core/bin
/Zhaoxi.AglieFramework.BBS/bin
/Zhaoxi.AglieFramework.BBS/obj
/Zhaoxi.AglieFramework.Auth/obj
/Zhaoxi.AglieFramework.Auth/bin
/Dapper.Contrib/obj
/Dapper.Contrib/bin
